.desktop-hide {
    display: none;
}

#upper {
    position: fixed;
    top: 0;
    z-index: 30;
}

#top {
    margin-top: 35px;
}

#top #navi {
    height: 70px;
}

#top #navi .wrapper #logo {
    width: 200px;
    padding-left: 10px;
}

#top #navi .wrapper nav {
    display: flex;
    align-items: center;
}

#top #navi .wrapper nav>ul {
    display: flex;
    padding-left: 10px;
}

#top #navi .wrapper nav ul li {
    list-style: none;
}

#top #navi .wrapper nav ul li i {
    color: #fff;
}

#top #navi .wrapper nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
}

#top #navi .wrapper nav>ul>li {
    margin: 0 10px;
    height: 100px;
}

#top #navi .wrapper nav>ul>li>a {
    line-height: 100px;
}

#top #navi .wrapper nav>ul>li:hover>ul {
    display: block;
}

#top #navi .wrapper nav>ul>li>ul {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(155, 155, 155, 0.7);
    height: 300px;
    max-width: 1200px;
    min-width: 100%;
    padding: 5px 10px;
    z-index: 10;
}

#top #navi .wrapper nav>ul>li>ul>li {
    position: relative;
    height: 30px;
    width: 240px;
    line-height: 30px;
}

#top #navi .wrapper nav>ul>li>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#top #navi .wrapper nav>ul>li>ul>li:hover>ul {
    display: block;
}

#top #navi .wrapper nav>ul>li>ul>li>ul {
    display: none;
    position: absolute;
    left: 240px;
    top: 0;
    padding: 0 10px;
    width: 260px;
    z-index: 1;
}

#top #navi .wrapper nav>ul>li>ul>li>ul>li {
    height: 30px;
    display: block;
    line-height: 30px;
}

#top #navi .wrapper nav>ul>li>ul>li>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#main #special .wrapper div {
    flex: 1;
    padding: 20px;
}

#main #hotdeal {
    background-size: cover;
    background-image: url(../imgs/banner/hot-deal_background-2-1.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: 100%;
}

#main #hotdeal .wrapper {
    justify-content: space-around;
}

#main #hotdeal .wrapper .hd-banner {
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide img {
    height: 75%;
}

#main #hotdeal .wrapper .hd-products {
    flex: 2;
    margin-left: 10px;
    margin-right: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main #policy .wrapper .policy-items {
    flex: 1;
}

#main #about .wrapper img {
    flex: 1;
}

#main #about .wrapper .text {
    flex: 1;
}

footer #info .wrapper .col {
    flex: 1;
}

footer #info .wrapper .col img {
    width: 70%;
    padding: 20px;
}