@font-face {
    font-family: playfair;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: playfair, 'Courier New', Courier, monospace;
    background-color: #001c53;
    /* background-size: cover; */
    /* background-image: url(../imgs/B1.jpg); */
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: -410px;
    width: 400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
    overflow: scroll;
}

#mobile-menu .close {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

#mobile-menu .close i {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px;
}

#mobile-menu ul li {
    list-style: none;
    /*  */
}

#mobile-menu ul li:hover>a {
    background-color: rgba(155, 155, 155, 0.7);
}

#mobile-menu ul li a {
    text-decoration: none;
    color: #fff;
    height: 30px;
}

#upper {
    background-color: #e2bf82;
    display: block;
    width: 100%;
}

#upper .wrapper .icon img {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

#upper .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    align-items: center;
}

#upper .wrapper .icon {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

#upper .wrapper .icon label {
    font-weight: 600;
}

#upper .wrapper .icon label a {
    text-decoration: none;
    color: #000;
}

#top {
    position: relative;
    width: 100%;
    margin-top: 35px;
}

#top #banner {
    width: 100%;
}

#top #banner img {
    width: 100%;
}

#top #navi {
    background-color: rgba(0, 0, 0, 0.3);
}

#top #navi .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

#top #navi .wrapper #logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

#top #navi .wrapper #logo a {
    height: 100%;
}

#top #navi .wrapper #logo img {
    height: 100%;
}

#quick-menu .wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
}

#quick-menu .wrapper ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-wrap: wrap;
}

#quick-menu .wrapper ul li {
    list-style: none;
}

#quick-menu .wrapper ul li:hover img {
    -ms-transform: scale(1.2, 1.2);
    /* IE 9 */
    transform: scale(1.2, 1.2);
}

#quick-menu .wrapper ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quick-menu .wrapper ul li a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: .3s ease-in-out;
}

#quick-menu .wrapper ul li a p {
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
}

#main {
    /* background-color: rgba(155, 155, 155, 0.7); */
    margin: 0 auto;
}

#main #special .wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#main #special .wrapper div img {
    width: 100%;
    border-radius: 10px;
}

#main #hotdeal .wrapper {
    display: flex;
    padding: 20px;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .advice {
    text-transform: uppercase;
    border: 1px solid #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(155, 155, 155, 0.7);
    color: #fff;
    font-weight: 600;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .ori-price {
    text-decoration: line-through red;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .good-price {
    margin-left: 5px;
    font-weight: 600;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide a {
    text-decoration: none;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .ori-price {
    text-decoration: line-through red;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .good-price {
    margin-left: 5px;
    font-weight: 600;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products strong {
    text-transform: capitalize;
}

#main #show-product .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main #show-product .wrapper h2 {
    color: #fff;
    text-transform: capitalize;
}

#main #show-product .wrapper .prds-banner img {
    width: 100%;
}

#main #show-product .cat-products {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#main #show-product .cat-products .swiper-wrapper {
    width: 100%;
}

#main #show-product .cat-products .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#main #show-product .cat-products .swiper-slide .img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#main #show-product .cat-products .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#main #show-product .cat-products .swiper-slide .info-products {
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
}

#main #show-product .cat-products .swiper-slide .info-products a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#main #show-product .cat-products .swiper-slide .info-products a strong {
    text-transform: capitalize;
    font-size: 18px;
}

#main #show-product .cat-products .swiper-slide .info-products a .price .ori-price {
    font-size: 13px;
    text-decoration: line-through red;
}

#main #show-product .cat-products .swiper-slide .info-products a .price .good-price {
    font-weight: 600;
}

#main #show-product .cat-products .swiper-slide .info-products .advice {
    border: 1px solid #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

#main #policy {
    background-size: cover;
    background-image: url(../imgs/banner/banner-1920x300-1.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: 100%;
    margin: 20px 0;
}

#main #policy .wrapper {
    display: flex;
}

#main #policy .wrapper .policy-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

#main #policy .wrapper .policy-items img {
    height: 90px;
}

#main #policy .wrapper .policy-items strong {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}

#main #policy .wrapper .policy-items p {
    text-transform: capitalize;
    font-size: 13px;
    color: #fff;
    text-align: center;
}

#main #about .wrapper {
    display: flex;
}

#main #about .wrapper img {
    width: 100%;
}

#main #about .wrapper .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: #fff;
}

#main #about .wrapper .text strong {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

#main #about .wrapper .text label {
    text-transform: capitalize;
}

#main #about .wrapper .text p {
    text-align: justify;
}

#main #blog .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px !important;
}

#main #blog .wrapper h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#main #blog .wrapper .blog-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#main #blog .wrapper .blog-wrapper .swiper-wrapper {
    width: 100%;
}

#main #blog .wrapper a {
    text-decoration: none;
    color: #fff;
}

#main #blog .wrapper a img {
    width: 100%;
}

#main #blog .wrapper a .blog-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

#main #blog .wrapper a p {
    text-align: justify;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

footer #info .wrapper {
    display: flex;
    padding: 20px
}

footer #info .wrapper .col h3 {
    text-transform: uppercase;
}

footer #info .wrapper .col a {
    text-decoration: none;
    color: #fff;
}

footer hr {
    border: 1px solid #fff
}

footer #bottom .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

footer #bottom .wrapper p {
    text-align: center;
}

footer #bottom .wrapper .payment-icons {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

footer #bottom .wrapper .payment-icons .payment-icon {
    width: 66.667%;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

footer #bottom .wrapper .payment-icons .payment-icon svg {
    fill: #ccc;
}

#up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

#up i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(155, 155, 155, 0.7);
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}