@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

:root {
    --main-bg-color: #0b2139;
    /* var(--main-bg-color) */
}

html {
    scroll-behavior: smooth;
}

.hide {
    display: none !important;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Courier New', Courier, monospace;
    background-color: #f5f7fa;
    /* background-size: cover; */
    /* background-image: url(../imgs/B1.jpg); */
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: -410px;
    height: 100vh;
    background-color: #f5f7fa;
    z-index: 50;
    overflow: scroll;
    display: none;
}

#mobile-menu ul {
    margin: 0;
    padding-left: 20px;
}

#mobile-menu .close {
    color: var(--main-bg-color);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

#mobile-menu .close i {
    border: 1px solid var(--main-bg-color);
    border-radius: 50px;
    padding: 10px;
}

#mobile-menu ul li {
    list-style: none;
    /*  */
    display: flex;
    justify-content: space-between;
}

#mobile-menu ul li:hover>a {
    background-color: rgba(155, 155, 155, 0.7);
}

#mobile-menu ul li a {
    text-decoration: none;
    color: var(--main-bg-color);
    height: 30px;
    text-transform: capitalize;
    line-height: 30px;
}

#mobile-menu ul li i {
    margin-right: 20px;
}

#upper {
    background-color: #e2bf82;
    display: block;
    width: 100%;
    overflow: hidden;
}

#upper .wrapper .icon img {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

#upper .wrapper {
    position: relative;
    text-transform: uppercase;
    animation: move 7s linear 2s infinite;
}

@keyframes move {
    0% {
        left: -200px;
        top: 0px;
    }
    25% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 200px;
        top: 0px;
    }
    75% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: -200px;
        top: 0px;
    }
}

#upper .wrapper {
    display: flex;
    justify-content: center;
    height: 35px;
    align-items: center;
}

#upper .wrapper .icon {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

#upper .wrapper .icon label {
    font-weight: 600;
}

#upper .wrapper .icon label a {
    text-decoration: none;
    color: #000;
}

#top {
    position: relative;
    width: 100%;
    margin-top: 35px;
}

#top #banner {
    width: 100%;
}

#top #banner img {
    width: 100%;
}

#top #navi {
    background-color: var(--main-bg-color);
}

#top #navi .wrapper {
    display: flex;
    position: relative;
    height: 100%;
}

#top #navi .wrapper #logo {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

#top #navi .wrapper #logo a {
    height: 100%;
}

#top #navi .wrapper #logo img {
    width: 68.39;
    height: 100%;
}

#quick-menu .wrapper {
    /* background-color: #ccd3db; */
    padding: 10px;
}

#quick-menu .wrapper h2 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
}

#quick-menu .wrapper ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-wrap: wrap;
}

#quick-menu .wrapper ul li {
    list-style: none;
}

#quick-menu .wrapper ul li:hover img {
    -ms-transform: scale(1.2, 1.2);
    /* IE 9 */
    transform: scale(1.2, 1.2);
}

#quick-menu .wrapper ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quick-menu .wrapper ul li a p {
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
}

#main {
    /* background-color: rgba(155, 155, 155, 0.7); */
    margin: 0 auto;
}

#main #page .wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(250, 250, 250, 0.8);
}

#main #special .wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#main #hotdeal .wrapper {
    display: flex;
    padding: 10px;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .img img {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .ori-price {
    text-decoration: line-through red;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .good-price {
    margin-left: 5px;
    font-weight: 600;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide a {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .ori-price {
    text-decoration: line-through red;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products .price .good-price {
    margin-left: 5px;
    font-weight: 600;
}

#main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products strong {
    text-transform: capitalize;
}

#main #show-product .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#main #show-product .wrapper a {
    text-decoration: none;
}

#main #show-product .wrapper h2 {
    color: var(--main-bg-color);
    text-transform: capitalize;
    margin-bottom: 0;
}

#main #show-product .wrapper hr {
    border-bottom: 1px double var(--main-bg-color);
    width: 300px;
}

#main #show-product .wrapper .prds-banner img {
    width: 100%;
}

#main #show-product .cat-products {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.new-products {
    background-color: rgb(250, 250, 250, 0.1);
    padding: 20px;
}

.new-products .cat-products {
    max-width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

#main #hotdeal .wrapper .hd-products .swiper-wrapper {
    display: flex;
    align-items: flex-end;
}

#main #show-product .cat-products .swiper-wrapper,
.new-products .cat-products .swiper-wrapper {
    width: 100%;
}

#main #show-product .cat-products .swiper-slide,
.new-products .cat-products .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#main #show-product .cat-products .swiper-slide .img,
.new-products .cat-products .swiper-slide .img {
    height: 100%;
    width: 100%;
}

#main #show-product .cat-products .swiper-slide img,
.new-products .cat-products .swiper-slide img {
    width: 100%;
    height: 100%;
}

#main #show-product .cat-products .swiper-slide .info-products,
.new-products .cat-products .swiper-slide .info-products {
    text-align: center;
    width: 100%;
}

#main #show-product .cat-products .swiper-slide .info-products a,
.new-products .cat-products .swiper-slide .info-products a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

#main #show-product .cat-products .swiper-slide .info-products a strong,
.new-products .cat-products .swiper-slide .info-products a strong {
    text-transform: capitalize;
    font-size: 18px;
}

#main #show-product .cat-products .swiper-slide .info-products a .price .ori-price,
.new-products .cat-products .swiper-slide .info-products a .price .ori-price {
    font-size: 13px;
    text-decoration: line-through red;
}

#main #show-product .cat-products .swiper-slide .info-products a .price .good-price,
.new-products .cat-products .swiper-slide .info-products a .price .good-price {
    font-weight: 600;
}

#main #policy .wrapper {
    display: flex;
}

#main #policy .wrapper .policy-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

#main #policy .wrapper .policy-items img {
    height: 90px;
}

#main #policy .wrapper .policy-items strong {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}

#main #policy .wrapper .policy-items p {
    text-transform: capitalize;
    font-size: 13px;
    color: #fff;
    text-align: center;
}

#main #about .wrapper {
    display: flex;
    background-color: var(--main-bg-color);
}

#main #about .wrapper img {
    width: 100%;
}

#main #about .wrapper .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: #fff;
}

#main #about .wrapper .text strong {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

#main #about .wrapper .text label {
    text-transform: capitalize;
}

#main #about .wrapper .text p {
    text-align: justify;
}

#main #blog {
    margin: 20px 0;
}

#main #blog .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px !important;
    background-color: var(--main-bg-color);
}

#main #blog .wrapper h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#main #blog .wrapper .blog-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#main #blog .wrapper .blog-wrapper .swiper-wrapper {
    width: 100%;
}

#main #blog .wrapper a {
    text-decoration: none;
    color: #fff;
}

#main #blog .wrapper a img {
    width: 100%;
    height: 300px;
}

#main #blog .wrapper a .blog-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

#main #blog .wrapper a .date {
    font-size: 13px;
}

#main #blog .wrapper a .author {
    font-size: 13px;
}

#main #blog .wrapper a p {
    text-align: justify;
}

#second-main .wrapper {
    display: flex;
    color: #fff;
}

#second-main .wrapper h1 {
    text-transform: uppercase;
    font-style: italic;
}

#second-main .wrapper a {
    text-decoration: none;
    color: #fff;
}

#second-main .wrapper .name {
    margin: 10px;
}

#second-main .wrapper p {
    font-size: 13px;
}

#second-main .wrapper #content .post-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#second-main .wrapper #content .post-wrapper .date {
    font-size: 13px;
    font-style: italic;
}

#second-main .wrapper #content .post-wrapper .author {
    font-size: 13px;
    font-style: italic;
}

#second-main .wrapper #content .products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


/* #second-main .wrapper #content .products {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
} */

#second-main .wrapper #content .products .cat-items .onsale {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: #ff7332;
    padding: 5px;
    border-radius: 0 0 5px 0;
    font-size: 18px;
}

#second-main .wrapper #content .products .cat-items .info-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-main .wrapper #content .products .cat-items .info-products:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#second-main .wrapper #content .products .cat-items .info-products:hover h2 {
    color: #fff;
}

#second-main .wrapper #content .products .cat-items .info-products:hover .price {
    color: #fff;
}

#second-main .wrapper #content .products .cat-items .info-products h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

#second-main .wrapper #content .products .cat-items .info-products .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#second-main .wrapper #content .products .cat-items .info-products .price ins {
    font-size: 20px;
}

#second-main .wrapper #content .products .cat-items .info-products .star-rate {
    display: flex;
    justify-content: center;
}

#second-main .wrapper #content .products .cat-items .info-products .button {
    border: 1px solid #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(155, 155, 155, 0.7);
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}

#second-main .wrapper #content .products .cat-items .info-products .added_to_cart {
    border: 1px solid #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(155, 155, 155, 0.7);
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}

#second-main .wrapper #content #detail .maindetail {
    display: flex;
}

#second-main .wrapper #content #detail .policy {
    background-color: rgb(250, 250, 250, 0.1);
    padding: 30px;
}

#second-main .wrapper #content #detail .policy h3 {
    margin-top: 0;
}

#second-main .wrapper #content #detail .policy .prds-features {
    display: flex;
    flex-wrap: wrap;
}

#second-main .wrapper #content #detail .policy .prds-features li {
    width: 33.33%;
    list-style: none;
    margin: 10px 0;
}

#second-main .wrapper #content #detail .policy .prds-features li i {
    font-size: 20px;
}

#second-main .wrapper #content #detail .policy .clearfix li {
    margin: 10px 0;
}

#second-main .wrapper #content #detail .detail-description {
    background-color: rgb(250, 250, 250, 0.1);
    padding: 30px;
    margin: 10px 0;
}

#second-main .wrapper #content #comment {
    background-color: rgb(250, 250, 250, 0.1);
    padding: 30px;
    margin: 10px 0;
}

#second-main .wrapper #content #detail .maindetail .description .price {
    font-size: 30px;
    margin: 10px 0;
}

#second-main .wrapper #content #detail .maindetail .description .price del {
    font-size: 18px;
}

#second-main .wrapper #content #detail .maindetail .description form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-main .wrapper #content #detail .maindetail .description .advice {
    display: flex;
    justify-content: center;
}

#second-main .wrapper #content #detail .maindetail .description {
    background-color: rgb(250, 250, 250, 0.1);
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}


/* ################################################################################## */


/* ################################################################################## */


/* products slider */

#second-main .wrapper #content #detail .pictures .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#second-main .wrapper #content #detail .pictures .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#second-main .wrapper #content #detail .pictures .swiper-slide {
    background-size: cover;
    background-position: center;
}

#second-main .wrapper #content #detail .pictures .mySwiper2 {
    height: 80%;
    width: 100%;
}

#second-main .wrapper #content #detail .pictures .mySwiper2 .swiper-wrapper .swiper-slide {
    width: 100% !important;
}

#second-main .wrapper #content #detail .pictures .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

#second-main .wrapper #content #detail .pictures .mySwiper .swiper-wrapper {
    width: 100%;
}

#second-main .wrapper #content #detail .pictures .mySwiper .swiper-wrapper .swiper-slide {
    width: 25% !important;
    height: 100%;
    margin: 0 10px
}


/* end products slider */


/* ################################################################################## */


/* ################################################################################## */

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 10px;
}

footer #info .wrapper {
    display: flex;
    padding: 20px
}

footer #info .wrapper .col h3 {
    text-transform: uppercase;
}

footer #info .wrapper .col a {
    text-decoration: none;
    color: #fff;
}

footer hr {
    border: 1px solid #fff
}

footer #bottom .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

footer #bottom .wrapper p {
    text-align: center;
}

footer #bottom .wrapper .payment-icons {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    min-width: 360px;
    margin-bottom: 52px;
}

footer #bottom .wrapper .payment-icons .payment-icon {
    width: 66.667%;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

footer #bottom .wrapper .payment-icons .payment-icon svg {
    fill: #ccc;
}

#cart_button {
    display: flex;
    align-items: flex-end;
}

#cart_button img {
    width: 30px;
    margin: 5px;
}

#up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

#up i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(155, 155, 155, 0.7);
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

#cart {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
}

#cart i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(155, 155, 155, 0.7);
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

#cart .cart-contents-count {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-weight: 600;
}

.added {
    display: none !important;
}

.advice {
    margin: 5px auto;
    background-color: transparent;
    width: 100%;
    justify-content: center;
}

.advice img {
    height: 40px !important;
    width: 40px !important;
    display: block;
    margin: 0 auto;
}

.product-detail-size-guide i {
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.area_promotion {
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.hotline a {
    font-size: 20px;
}

.prdi-footer ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.prdi-footer ul li {
    list-style: none;
    width: 33.33%;
}

#more {
    margin: 20px 0;
}

#more-info {
    margin-top: 20px;
}

#more-info .wrapper {
    display: flex;
    color: #fff;
    padding: 10px;
    background-color: var(--main-bg-color);
}

#more-info .wrapper a {
    text-decoration: none;
    color: #fff;
}

#more-info .wrapper .wrap-title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

#more-info .wrapper .post a div {
    margin: 5px;
    font-size: 15px;
    display: list-item;
}

#more-info .products .wrap-item {
    display: flex;
    justify-content: space-around;
}

#more-info .products .wrap-item a {
    display: flex;
    background-color: rgb(250, 250, 250, 0.1);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 252px;
}

#more-info .products .wrap-item a .interest-content {
    padding: 5px;
}

#more-info .products .wrap-item a .interest-content .title {
    font-size: 13px;
    color: #90b4f7;
}

.swiper-slide .onsale {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: #ff7332;
    padding: 5px;
    border-radius: 0 0 5px 0;
    font-size: 18px;
}

.back {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 10px;
}


/* bảng giá kim cương */

#bgkc-classify .bgkc-col:nth-child(1) {
    flex: 1
}

#bgkc-classify .bgkc-col:nth-child(2) {
    flex: 2
}

#bgkc-classify .bgkc-col:nth-child(3) {
    flex: 1
}

.bgkc-col {
    text-align: center;
    height: 40px;
    margin: 0;
    /*             border: 1px solid #cdad6f; */
    border: 1px solid #000;
    line-height: 40px;
    font-size: 14px;
}

.bgkc-col a {
    color: blue;
    text-decoration: underline;
}

.bgkc-head {
    /*             background-color: #06213c; */
    background-color: #816003;
    /*             color: #cdad6f; */
    color: #fff;
    border: 1px solid #000 !important;
    font-size: 14px;
    font-weight: 700
}


/* tab */

.bgkc-tab-container {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto 20px;
    flex-wrap: wrap;
}

.bgkc-tab {
    width: 132px;
    height: 40px;
    background-color: #06213c;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    margin: 5px 5px 0;
    border-radius: 20px;
    cursor: pointer;
}

.active {
    background-color: #fff;
    color: #06213c;
    border: 1px solid #06213c;
}


/* tab content */

.bgkc-tab-content {
    width: 100%;
    margin: 20px 0;
}

.bgkc-title {
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px;
    font-size: 18px;
}

.bgkc-tab-content .bgkc-col {
    flex: 1
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination ul {
    display: flex;
    padding: 0;
}

.pagination ul li {
    list-style: none;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: rgba(224, 224, 224, 0.5);
}

.pagination ul li a {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.pagination ul li .current {
    display: block;
    background-color: var(--main-bg-color);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.pagination ul li .dots {
    display: block;
    background-color: var(--main-bg-color);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.woocommerce-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.woocommerce-pagination ul {
    display: flex;
    padding: 0;
}

.woocommerce-pagination ul li {
    list-style: none;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: rgba(224, 224, 224, 0.5);
}

.woocommerce-pagination ul li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.woocommerce-pagination ul li .current {
    display: block;
    background-color: var(--main-bg-color);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.woocommerce-pagination ul li .dots {
    display: block;
    background-color: var(--main-bg-color);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

@media only screen and (min-width: 601px) {
    .bgkc-container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .bgkc-row {
        display: flex;
        justify-content: center;
        width: 1140px;
    }
    .bgkc-row:hover {
        background-color: #dedede;
    }
}

@media only screen and (max-width: 600px) {
    .bgkc-container {
        width: 100vw;
        margin: 0 auto;
        overflow: scroll;
    }
    #bgkc-classify .bgkc-row {
        display: flex;
        justify-content: center;
        width: 500px !important;
    }
    .bgkc-row {
        display: flex;
        justify-content: center;
        width: 1140px;
    }
}


/* end bảng giá kim cương */


/* ###################################################################################################### */


/* desktop  */

@media screen and (min-width: 1100px) {
    .desktop-hide {
        display: none !important;
    }
    #upper {
        position: fixed;
        top: 0;
        z-index: 30;
    }
    #top {
        margin-top: 35px;
    }
    #top #navi {
        height: 70px;
    }
    #top #navi .wrapper {
        justify-content: space-between;
    }
    #top #navi .wrapper #logo {
        width: 200px;
        padding-left: 10px;
    }
    #top #navi .wrapper nav {
        display: flex;
        align-items: center;
    }
    #top #navi .wrapper nav>ul {
        display: flex;
        padding-left: 10px;
    }
    #top #navi .wrapper nav ul li {
        list-style: none;
    }
    #top #navi .wrapper nav ul li i {
        color: #fff;
        padding: 0 5px;
    }
    #top #navi .wrapper nav ul li a {
        text-decoration: none;
        text-transform: capitalize;
        color: #FFF;
    }
    #top #navi .wrapper nav>ul>li {
        margin: 0 10px;
        height: 100px;
    }
    #top #navi .wrapper nav>ul>li>a {
        line-height: 100px;
    }
    #top #navi .wrapper nav>ul>li:hover>ul {
        display: block;
    }
    #top #navi .wrapper nav>ul>li>ul {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        height: 300px;
        max-width: 1200px;
        min-width: 100%;
        padding: 5px 10px;
        z-index: 10;
        box-sizing: border-box;
    }
    #top #navi .wrapper nav>ul>li>ul>li {
        position: relative;
        height: 30px;
        width: 240px;
        line-height: 30px;
    }
    #top #navi .wrapper nav>ul>li>ul>li:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    #top #navi .wrapper nav>ul>li>ul>li:hover>ul {
        display: block;
    }
    #top #navi .wrapper nav>ul>li>ul>li>ul {
        display: none;
        position: absolute;
        left: 240px;
        top: 0;
        padding: 0 10px;
        width: 260px;
        z-index: 1;
    }
    #top #navi .wrapper nav>ul>li>ul>li>ul>li {
        height: 30px;
        display: block;
        line-height: 30px;
    }
    #top #navi .wrapper nav>ul>li>ul>li>ul>li:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    #quick-menu .wrapper ul li a img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: .3s ease-in-out;
    }
    #main #special .wrapper div img {
        width: 100%;
    }
    #main #special .wrapper div {
        flex: 1;
        padding: 20px;
    }
    #main #hotdeal {
        background-size: cover;
        background-image: url(../../imgs/banner/hot-deal_background-2-1.jpg);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        width: 100%;
    }
    #main #hotdeal .wrapper {
        justify-content: space-around;
    }
    #main #hotdeal .wrapper .hd-banner {
        flex: 1;
        margin-left: 20px;
        margin-right: 10px;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide a {
        color: #fff;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products {
        background-color: rgba(0, 0, 0, 0.5);
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide .img img {
        position: absolute;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide .img>img {
        height: 100%;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide {
        height: 75%;
    }
    #main #hotdeal .wrapper .hd-products {
        flex: 2;
        margin-left: 10px;
        margin-right: 20px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    #main #policy {
        background-size: cover;
        background-image: url(../../imgs/banner/banner-1920x300-1.jpg);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        width: 100%;
        margin: 20px 0;
    }
    #main #policy .wrapper .policy-items {
        flex: 1;
    }
    #main #about .wrapper img {
        flex: 1;
    }
    #main #about .wrapper .text {
        flex: 1;
    }
    #main #show-product .cat-products .swiper-slide .img,
    .new-products .cat-products .swiper-slide .img {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    #main #show-product .cat-products .swiper-slide .info-products,
    .new-products .cat-products .swiper-slide .info-products {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
    }
    #main #show-product .cat-products .swiper-slide .info-products a,
    .new-products .cat-products .swiper-slide .info-products a {
        color: #fff;
    }
    #main #show-product .cat-products {
        height: 300px;
    }
    #cat_banner {
        max-width: 1200px;
        margin: 0 auto;
    }
    #cat_banner img {
        height: 450px;
        width: 100%;
    }
    #second-main .wrapper #content {
        flex: 5;
        margin: 20px 0;
        background-color: var(--main-bg-color);
        padding: 30px;
        width: 100%;
        box-sizing: border-box;
    }
    #second-main .wrapper #content .post-wrapper .items {
        width: 33.33%;
        padding: 0 10px;
        margin: 30px 0;
        box-sizing: border-box;
    }
    #second-main .wrapper #content .post-wrapper .items img {
        width: 100%;
        height: 360px;
    }
    #second-main .wrapper #sidebar {
        flex: 1;
        padding: 20px 24px 0;
        box-sizing: border-box;
    }
    #second-main .wrapper #content .products .cat-items {
        width: 24%;
        margin: 10px 0.5%;
        box-sizing: border-box;
        position: relative;
    }
    #second-main .wrapper #content .products .cat-items img {
        width: 100%;
    }
    #second-main .wrapper #content .products .cat-items .info-products h2 {
        margin: 10px 0;
        font-size: 20px;
    }
    #second-main .wrapper #content #detail .maindetail .description {
        width: 50%;
    }
    #second-main .wrapper #content #detail .maindetail .pictures {
        position: relative;
        overflow: hidden;
        margin-right: 20px;
        height: 500px;
        width: 50% !important;
    }
    footer #info .wrapper .col {
        flex: 1;
    }
    footer #info .wrapper .col img {
        width: 70%;
        padding: 20px;
    }
    #more-info .wrapper .products {
        padding: 20px;
        width: 50%;
    }
    #more-info .wrapper .post {
        width: 50%;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #mobile-menu {
        width: 400px;
    }
}


/* end desktop  */


/* ###################################################################################################### */


/* tablet  */

@media screen and (min-width: 600px) and (max-width: 1100px) {
    .tablet-hide {
        display: none !important;
    }
    #upper {
        position: fixed;
        top: 0;
        z-index: 30;
    }
    #top {
        margin-top: 35px;
    }
    #top #navi {
        height: 70px;
    }
    #top #navi .wrapper {
        justify-content: center;
    }
    #top #navi .wrapper #logo {
        /* width: 200px; */
        padding-left: 10px;
    }
    #top #navi .wrapper #logo img {
        width: 136.79px;
    }
    #top #navi .wrapper #mobile-icon-menu {
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 20px;
        cursor: pointer;
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        font-size: 18px;
    }
    #quick-menu .wrapper ul li a img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: .3s ease-in-out;
    }
    #main #special .wrapper div {
        flex: 1;
        padding: 20px;
    }
    #main #special .wrapper div img {
        width: 100%;
    }
    #main #hotdeal .wrapper {
        flex-direction: column;
        align-items: center;
    }
    #main #hotdeal .wrapper .hd-banner {
        margin-left: 20px;
        margin-right: 10px;
    }
    #main #hotdeal .wrapper .hd-banner img {
        border-radius: 10px;
    }
    #main #hotdeal .wrapper .hd-products {
        margin-left: 10px;
        margin-right: 20px;
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 400px;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide a {
        color: #fff;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide .info-products {
        background-color: rgba(0, 0, 0, 0.5);
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide .img img {
        position: absolute;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide .img img {
        height: 100%;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide {
        height: 75%;
    }
    #main #policy {
        background-size: cover;
        background-image: url(../../imgs/banner/banner-1920x300-1.jpg);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        width: 100%;
        margin: 20px 0;
    }
    #main #policy .wrapper .policy-items {
        flex: 1;
    }
    #main #about .wrapper img {
        flex: 1;
    }
    #main #about .wrapper .text {
        flex: 1;
    }
    #main #show-product .cat-products .swiper-slide .img,
    .new-products .cat-products .swiper-slide .img {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    #main #show-product .cat-products .swiper-slide .info-products,
    .new-products .cat-products .swiper-slide .info-products {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
    }
    #main #show-product .cat-products .swiper-slide .info-products a,
    .new-products .cat-products .swiper-slide .info-products a {
        color: #fff;
    }
    #main #show-product .cat-products {
        height: 300px;
    }
    #cat_banner {
        max-width: 1200px;
        margin: 0 auto;
    }
    #cat_banner img {
        /* height: 450px; */
        width: 100%;
    }
    #second-main .wrapper #content {
        flex: 5;
        padding: 20px;
        background-color: var(--main-bg-color);
        margin: 20px 0;
        width: 100%;
        box-sizing: border-box;
    }
    #second-main .wrapper #sidebar {
        flex: 1;
        padding: 20px 24px 0;
    }
    #second-main .wrapper #content .post-wrapper .items {
        width: 50%;
        padding: 0 10px;
        margin: 30px 0;
        box-sizing: border-box;
    }
    #second-main .wrapper #content .post-wrapper .items img {
        width: 100%;
        height: 360px;
    }
    #second-main .wrapper #content #detail .maindetail {
        flex-direction: column;
    }
    #second-main .wrapper #content #detail .maindetail .description {
        width: 100%;
    }
    #second-main .wrapper #content #detail .maindetail .pictures {
        position: relative;
        overflow: hidden;
        margin-right: 20px;
        height: 500px;
        width: 100% !important;
    }
    #second-main .wrapper #content .products .cat-items {
        width: 32%;
        margin: 10px 0.667%;
        box-sizing: border-box;
        position: relative;
    }
    #second-main .wrapper #content .products .cat-items img {
        width: 100%;
    }
    #second-main .wrapper #content .products .cat-items .info-products h2 {
        margin: 10px 0;
        font-size: 15px;
        font-weight: 500;
    }
    footer #info .wrapper {
        flex-wrap: wrap;
    }
    footer #info .wrapper .col {
        width: 50%;
    }
    footer #info .wrapper .col img {
        width: 70%;
        padding: 20px;
    }
    #more-info .wrapper .products {
        padding: 20px;
        width: 50%;
    }
    #more-info .wrapper .post {
        width: 50%;
        padding: 20px;
    }
    #mobile-menu {
        width: 400px;
    }
    #mobile-menu ul>li>ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 100vh;
        background-color: #f5f7fa;
        box-sizing: border-box;
    }
    #mobile-menu ul>li>ul>li>ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 100vh;
        background-color: #f5f7fa;
    }
}


/* end tablet  */


/* ###################################################################################################### */


/* mobile  */

@media screen and (max-width: 599px) {
    .mobile-hide {
        display: none !important;
    }
    #upper .wrapper .slogan {
        font-size: 15px;
    }
    #top {
        margin-top: 0;
    }
    #top #navi {
        height: 40px;
    }
    #top #navi .wrapper {
        justify-content: center;
    }
    #top #navi .wrapper #logo {
        /* width: 150px; */
    }
    #top #navi .wrapper #logo img {
        width: 68.39px;
    }
    #top #navi .wrapper #mobile-icon-menu {
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 10px;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 8px;
    }
    #top #navi .wrapper #mobile-icon-menu i {
        font-size: 18px;
    }
    #top #banner img {
        height: 220px;
    }
    #quick-menu .wrapper ul li a img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: .3s ease-in-out;
    }
    #main #special {
        overflow: scroll;
    }
    #main #special .wrapper {
        width: 735px;
    }
    #main #special .wrapper div {
        height: 127px;
        box-sizing: border-box;
    }
    #main #special .wrapper div img {
        height: 100%;
    }
    #main #special .wrapper div {
        flex: 1;
        padding: 5px;
    }
    #quick-menu .wrapper ul {
        margin: 0;
    }
    #quick-menu .wrapper ul li {
        width: 33.33%;
    }
    #main #hotdeal .wrapper {
        flex-direction: column;
        align-items: center;
        background-color: var(--main-bg-color);
    }
    #main #hotdeal .wrapper .hd-banner {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
    }
    #main #hotdeal .wrapper .hd-banner img {
        border-radius: 10px;
    }
    #main #hotdeal .wrapper .hd-banner img {
        width: 100%;
        border-radius: 20px;
    }
    #main #hotdeal .wrapper .hd-products {
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 10px;
        width: 100%;
        overflow: hidden;
        position: relative;
        /* height: 350px; */
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide a {
        color: #fff;
        font-size: 11px;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide .img img {
        height: 100%;
    }
    #main #hotdeal .hd-products .swiper-wrapper .swiper-slide {
        height: 98%;
        display: flex;
        flex-direction: column;
    }
    #main #policy {
        background-color: var(--main-bg-color);
        /* background-attachment: fixed; */
        width: 100%;
        margin: 20px 0;
    }
    #main #policy .wrapper {
        flex-wrap: wrap;
    }
    #main #policy .wrapper .policy-items {
        width: 50%;
    }
    #main #about .wrapper {
        flex-direction: column;
    }
    #main #about .wrapper img {
        width: 100%;
    }
    #main #show-product .cat-products {
        height: 300px;
    }
    #main #show-product .cat-products .swiper-slide .img,
    .new-products .cat-products .swiper-slide .img {
        height: 210px;
        width: 100%;
    }
    #main #show-product .cat-products .swiper-slide .info-products,
    .new-products .cat-products .swiper-slide .info-products {
        text-align: center;
        width: 100%;
    }
    #main #show-product .cat-products .swiper-slide .info-products a,
    .new-products .cat-products .swiper-slide .info-products a {
        color: var(--main-bg-color);
    }
    #main #show-product .wrapper .mobile-products .mobile-products-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #main #show-product .wrapper .mobile-products .mobile-products-wrapper .swiper {
        width: 49%;
        position: relative;
    }
    #main #show-product .wrapper .mobile-products .mobile-products-wrapper .swiper img {
        width: 100%;
    }
    #main #show-product .wrapper .mobile-products .mobile-products-wrapper .swiper .onsale {
        position: absolute;
        top: 0;
        left: 0;
        color: rgb(255, 255, 255);
        background-color: #ff7332;
        padding: 5px;
        border-radius: 0 0 5px 0;
        font-size: 18px;
    }
    #main #show-product .wrapper .mobile-products .mobile-products-wrapper .swiper .info-products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main #show-product .wrapper .mobile-products .mobile-products-wrapper .swiper .info-products a {
        font-size: 11px;
        text-align: center;
        color: var(--main-bg-color)
    }
    #main #show-product .wrapper .mobile-products .mobile-products-wrapper .swiper .info-products .price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #cat_banner img {
        height: 220px;
    }
    #second-main .wrapper h1 {
        margin: 10px;
        font-size: 20px;
    }
    #second-main .wrapper #content {
        padding: 20px;
        background-color: var(--main-bg-color);
        /* margin: 20px 0; */
        width: 100%;
        box-sizing: border-box;
    }
    #second-main .wrapper #content .post-wrapper .items {
        width: 50%;
        padding: 0 10px;
        margin: 30px 0;
        box-sizing: border-box;
    }
    #second-main .wrapper #content .post-wrapper .items img {
        width: 100%;
        height: 180px;
    }
    #second-main .wrapper #content #detail .maindetail {
        flex-direction: column;
    }
    #second-main .wrapper #content #detail .maindetail .description {
        width: 100%;
    }
    #second-main .wrapper #content #detail .maindetail .pictures {
        position: relative;
        overflow: hidden;
        height: 500px;
        width: 100%;
    }
    #second-main .wrapper #content .products .cat-items {
        width: 49%;
        margin: 10px 0.5%;
        box-sizing: border-box;
        position: relative;
    }
    #second-main .wrapper #content .products .cat-items img {
        width: 100%;
        height: 180px;
    }
    #second-main .wrapper #content .products .cat-items .info-products i {
        font-size: 10px;
    }
    #second-main .wrapper #content .products .cat-items .info-products h2 {
        font-size: 13px;
        margin: 5px 0;
        font-weight: 500;
    }
    footer {
        margin: 10px 0 0 0;
    }
    footer #info .wrapper {
        flex-direction: column;
    }
    footer #info .wrapper .col img {
        width: 70%;
        padding: 10px;
    }
    #more-info .wrapper {
        flex-direction: column;
        align-items: center;
    }
    #more-info .wrapper .products {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    #more-info .products .wrap-item {
        flex-direction: column;
        width: 100%;
    }
    #more-info .wrapper .post {
        padding: 20px;
        box-sizing: border-box;
    }
    #mobile-menu {
        width: 100vw;
    }
    #mobile-menu ul>li>ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #f5f7fa;
        box-sizing: border-box;
    }
    #mobile-menu ul>li>ul>li>ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #f5f7fa;
    }
    /* blog image */
    .wp-caption {
        width: 100% !important;
    }
    .wp-caption img {
        width: 100%;
        height: 335px !important;
    }
    .main-content img {
        width: 100%;
        height: 335px;
    }
    /* end blog image */
}


/* end mobile  */